.sidebar {
  position: fixed;
  width: 200px;
  height: 100%;
  background-color: #f4f4f4;
  padding: 20px;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%) translateY(3px);
}

.sidebar:hover {
  transform: translateX(0);
  background-color: #f4f4f4;
}

.sidebar.open {
  transform: translateX(0) translateY(3px);
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}
.sidebar a {
  text-decoration: none;
}

.sidebar-inner {
  position: relative;
  height: 100%;
}

.button {
  border-radius: 0%;
  margin: 0;
  padding: 0 10px;
}

.icon {
  width: 30px;
  height: 30px;
}
